	<div class="row">
		<div class="page-header col-md-8">
			<h1>all photos, full size</h1>
		</div>
		<div class="right-side col-md-4">
			<%= link_to 'Add More Photos or Edit Apartment', edit_apartment_path(@apartment) %>
			<%= will_paginate @photos %>
		</div>
	</div>
<div class="img-display">
	    <% @photos.each do |photo| %>
				<div class="photo">
					<%= link_to image_tag(photo.image_url), apartment_photo_path(@apartment, photo) %>
				</div>
	    <% end %>
</div>

