    </div>
		<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="hero">
      	<div class="container">
        	<h1>Welcome to <b>Renter</b></h1>
        	<p>The easiest way to document your apartment.</p>
		<br>
      	</div>
	</div>
    </div>

		<div class="container marketing">
			<div class="col-lg-12">
				<div class="row text-center">
					<%= image_tag "apartments.png" %>
				</div>
				<p>
					Upload photos of your apartment and share with your landlord for approval. <br>Never lose a deposit again. <br><a class="btn btn-default" href="#" role="button">Start now &raquo;</a>
				</p>
				<div class="center-p-div"></div>
		  </div>
      <div class="row">
        <div class="col-lg-4">
          <h2>Lightning Fast</h2>
          <p>Just upload the images of your apartment, and send the link to your landlord for verifcation. That's all it takes.</p>
        </div>
        <div class="col-lg-4">
          <h2>Undeniable</h2>
          <p>Renter lets both you and your landlord know exactly how your apartment looked upon move-in. Never lose a deposit again.</p>
        </div>
        <div class="col-lg-4">
          <h2>Easy To Use</h2>
          <p>All you have to do is upload photos and share. All your landlord has to do is press a button. Can it be any easier? (Seriously, tell us.)</p>
        </div>
      </div>
		</div>
		
		<div class="container">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Worst part of moving? <span class="text-muted">Losing your deposit.</span></h2>
        <p class="lead">Hauling all your boxes isn't fun, but it's better than losing your money. Document all the dings, nicks, and splotches on the front end to avoid paying for someone else's damage.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive"><%= image_tag "empty_apt.jpg" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>

    <hr class="featurette-divider">
	</div>
	<div>