a{color:#f45429}
a:hover{color:#c23a1a;text-decoration:none;}
a:hover img { 
  background: transparent;
	text-decoration: none; 
}

.navbar {
   background-color: transparent;
   background: transparent;
	 border-bottom: 0;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background-color:#f45429}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff}
.navbar-wrapper{position:relative;z-index:15}
.container>.navbar-collapse,.logo{margin:0 10px}
.navbar-default{margin-top:20px}
.navbar-nav{font-family:'Open Sans',sans-serif;font-weight:600;font-size:1.3em;margin-left:60px}
.navbar-default .navbar-nav>li{margin-right:5px}
.navbar-default .navbar-nav>li>a{color:#fff}
.navbar-default .navbar-right>li>a{color:#fff}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-right>li>a:hover{border:2px solid #fff;color:#fff}
.navbar-fixed-top{position:absolute}

.navbar-right {
	color: #fff;
	list-style-type: none;
}


.jumbotron{
	background-image:url(congruent_pentagon.png);
	background-attachment:fixed;
	background-position:center top;
	background-size:cover;
	position:relative;
	width:100%;
	height:500px}
.jumbotron .hero{
	background-attachment:fixed;
	margin:0 auto; 
	padding:100px 0 220px;
	width:100%}
.jumbotron .container{text-align:center}

.jumbotron h1{font-family:'Roboto Slab',serif;font-size:80px;font-weight:700;color:#fff}

.jumbotron p{font-family:'Open Sans',sans-serif;color:#fff;font-size:25px}

.promote{padding-top:60px;padding-bottom:40px;margin-top:-25px;background-color:#f2f6dd}
body {
	padding-top: 0px;
		background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.jumbotron-nav {
	background-image:url(congruent_pentagon.png);
	background-attachment:fixed;
	background-position:center top;
	background-size:cover;
	position:relative;
	width:100%;
	height:100px
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333;
}

.col-lg-12 p {
	font-family: 'Open Sans',sans-serif;
	font-weight: 300;
	color: #5e5e5e;
	font-size: 22px;
	padding: 40px 10px;
	max-width: 800px;
	position: relative;
	left: 150px;
	text-align: center;
  line-height: 28px;
  margin-bottom: 25px;
}

.col-lg-4 h2 {
	font-family: 'Roboto Slab',serif;
	font-weight: 300;
	font-size:40px;
	color: #f3492a;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background-color: #34495e;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
}

#features .ac a{
	font-size: 20px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
	padding-top: 20px;
}

.marketing .center-p-div {
	content: "";
	text-align: center;
	width: 84px;
	background-color: #fa9b86;
	margin: 18px auto;
	height: 1px;
	font-size: 1px;
	display: block;
}

.marketing .center-p {
	text-align: center;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	text-align: center;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
}

#showcase h1 {
	color: white;
}

#footerwrap {
	background-color: #80d2b5;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}

ul.apartments li {
    width: 200px;
    display: inline-block;
}

#form { 
	max-width: 500px; 
	margin: auto;}

.page-header h1 {
	font-family: 'Roboto Slab',serif;
	font-weight: 300;
	font-size:40px;
	color: #f3492a;
}	

.album {
	padding-top:25px;
	padding-bottom:25px;
	padding-right:50px;
	padding-left:50px;
}

.album img{
	margin: 20px;
}