	<div class="page-header row">
		<div class="col-md-8">
			<h1><%= @apartment.name %><small> <%= @apartment.address %></small></h1>

		</div>
		<div class="col-md-4">
			<% if @apartment.code_match == true %>
				<button type="button" class="btn btn-default btn-lg" >Confirmed</button>
			<% else %>
				<button type="button" class="btn btn-default btn-lg" >Share now</button>
			<% end %>
		</div>
	</div>
	<div class="album">
		<table>
		<% @photos.each_slice(4) do |photos| %>
			<tr>
				<% photos.each do |p|%>
		  		<td><%= link_to image_tag(p.image_url(:thumb)), p %></td>
					<% end %>
			</tr>
		<% end %>
		</table>
	</div>
